.container {
  max-width: 120rem;
  height: 100vh;
  margin: 8rem auto;
  padding: 4.2rem;
  background-color: var(--clr-grey-light-1);
  border-radius: 1rem;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  position: relative;
}

.wrapper {
  display: flex;
}

.text-box {
  display: flex;
  flex-direction: column;
  gap: 2.8rem;
  width: 50%;
  margin-top: 10rem;
}
