:root {
  --clr-primary: #50bb7b;
  --clr-primary-light: #419564;
  --clr-primary-dark: #276f47;
  --clr-grey-light-1: #faf9f9;
  --clr-grey-light-2: #f4f2f2;
  --clr-grey-light-3: #f0eeee;
  --clr-grey-light-4: #ccc;
  --clr-grey-dark-1: #999;
  --clr-txt-white: #fff;
  --clr-txt-black: #111;
  --fw-500: "SofiaPro-Medium";
  --fw-700: "SofiaPro-Bold";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background-image: linear-gradient(to right bottom, var(--clr-primary), var(--clr-primary-light));
  background-size: cover;
  background-repeat: no-repeat;
}

@font-face {
  font-family: "SofiaPro-Medium";
  src: url("../../../assets/fonts/SofiaPro-Medium.otf");
}
@font-face {
  font-family: "SofiaPro-Bold";
  src: url("../../../assets/fonts/SofiaPro-Black.otf");
}
.logo {
  font-size: 4.2rem;
  color: var(--clr-primary);
}

.heading {
  font-size: 4.2rem;
  font-family: var(--fw-500);
  text-transform: capitalize;
  color: var(--clr-primary);
}
@media only screen and (max-width: 40em) {
  .heading {
    font-size: 3.2rem;
  }
}

.slogan {
  color: var(--clr-primary-dark);
}

.cta {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 68.75em) {
  .cta {
    justify-content: center;
  }
}
@media only screen and (max-width: 56.56em) {
  .cta {
    flex-direction: column;
    gap: 1rem;
  }
}
.cta__input {
  font-family: var(--fw-500);
  font-size: inherit;
  color: inherit;
  background-color: var(--clr-grey-light-2);
  border: 0.1rem solid var(--clr-grey-dark-1);
  padding: 1.5rem 2rem;
  border-radius: 10rem;
  width: 60%;
  transition: all 0.2s;
  margin-right: -11.5rem;
}
@media only screen and (max-width: 75em) {
  .cta__input {
    width: 65%;
  }
}
@media only screen and (max-width: 68.75em) {
  .cta__input {
    width: 70%;
  }
}
@media only screen and (max-width: 56.56em) {
  .cta__input {
    width: 40rem;
    margin: 0;
  }
}
@media only screen and (max-width: 31.56em) {
  .cta__input {
    width: 100%;
  }
}
.cta__input:focus {
  outline: none;
  width: 70%;
  background-color: var(--clr-grey-light-3);
}
@media only screen and (max-width: 68.75em) {
  .cta__input:focus {
    width: 75%;
  }
}
@media only screen and (max-width: 56.56em) {
  .cta__input:focus {
    width: 40rem;
  }
}
@media only screen and (max-width: 31.56em) {
  .cta__input:focus {
    width: 100%;
  }
}
.cta__input::-webkit-input-placeholder {
  font-weight: 100;
  color: var(--clr-grey-light-4);
  font-family: var(--fw-500);
}
.cta__button {
  border: none;
  background-color: var(--clr-primary-dark);
  color: var(--clr-txt-white);
  border-radius: 10rem;
  padding: 1.25rem 1.9rem;
}
@media only screen and (max-width: 56.56em) {
  .cta__button {
    border: 0.1rem solid var(--clr-primary-dark);
    padding: 1.5rem 2rem;
    width: 40rem;
  }
}
@media only screen and (max-width: 31.56em) {
  .cta__button {
    width: 100%;
    font-size: 1.8rem;
  }
}
.cta__button:hover {
  background-color: var(--clr-primary-light);
  cursor: pointer;
}
.cta__button:focus {
  outline: none;
}
.cta__button:active {
  transform: translateY(2px);
}

.small {
  font-size: 1.2rem;
  color: var(--clr-primary-dark);
}

.image {
  width: 60rem;
  height: 60rem;
  position: absolute;
  bottom: 0;
  right: 0;
}
@media only screen and (max-width: 68.75em) {
  .image {
    display: none;
  }
}

.container {
  max-width: 120rem;
  height: 100vh;
  margin: 8rem auto;
  padding: 4.2rem;
  background-color: var(--clr-grey-light-1);
  border-radius: 1rem;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  position: relative;
}
@media only screen and (max-width: 75em) {
  .container {
    margin: 0;
    border-radius: 0;
    height: 100vh;
  }
}
@media only screen and (max-width: 68.75em) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.text-box {
  display: flex;
  flex-direction: column;
  gap: 2.8rem;
  width: 50%;
  margin-top: 10rem;
}
@media only screen and (max-width: 68.75em) {
  .text-box {
    text-align: center;
    gap: 1rem;
    width: 60%;
    margin-top: 5rem;
  }
}
@media only screen and (max-width: 56.56em) {
  .text-box {
    width: 90%;
    gap: 2rem;
  }
}

h1,
h2,
h3 {
  font-family: var(--fw-700);
  line-height: 1.1;
  margin-top: 0;
  color: var(--clr-txt-black);
}

p {
  font-family: var(--fw-500);
  margin-top: 0;
  font-size: 2rem;
}

/*# sourceMappingURL=style.css.map */
